.cabecalho{
    display: flex;
    align-items: center;
    padding: 7px;
    background-color: rgb(253, 233, 207);
}

.cabecalho .pagina-atual{
    margin-left: auto;
}

.conteudo-galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card{
    display: flex;
    margin: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(253, 233, 207);
    width: 200px;
    height: 150px;
}

.card .titulo-card{
    font-size: 30px;
}

.fundo-vermelho{
    background-color:red;
}