.container{
    width: 700px;
    margin: auto;
}


.card{
    display: flex;
    margin: auto;
    color: rgb(72, 105, 214);
    flex-direction: column;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    width: 100%;
    margin: auto;
    height: 200px;
    border-radius: 2%;
    border: 1px solid white;
}

.card .card-texto{
    align-items: center;
    padding: 30px;
    border-radius: 3%;
    margin: auto;
    height: 50%;
    font-weight: bold;
    font-size: 18px;
    background-color: rgb(24, 24, 26);
}

.card .likes{
    color: rgb(72, 105, 214);
    padding: 10px;
}

.card .interacoes{
    display: flex;
}

.card .interacoes button{
    margin-left: auto;
    background-color: black;
    color: rgb(72, 105, 214);
    font-weight: bold;
    border: 1px solid white;
    border-radius: 10%;
    padding: 20px;
    justify-content: center;
}

.linha-tempo{
    height: 100vw;
    background-color: rgb(0, 0, 0);
}

.postagens{
    margin: auto;
    width: 100%;
    padding: 10px;
    background-color: black;
}

.cabecalho{
    margin-right: auto;
    padding: 20px;
    margin-block-end: auto;
    color: rgb(72, 105, 214);
}