.container{
    width: 700px;
    margin: auto;
}


.card{
    display: flex;
    color: rgb(174, 189, 240);
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    width: 100%;
    margin: auto;
    height: 200px;
    border-radius: 2%;
    border: 1px solid white;
}

.card .card-texto{
    align-items: center;
    padding: 30px;
    border-radius: 3%;
    margin: auto;
    font-style: italic;
    height: 50%;
    font-size: 18px;
    background-color: rgb(24, 24, 26);
}

.card .likes{
    color: rgb(174, 189, 240);
    padding: 10px;
}

.card .interacoes{
    display: flex;
}

.card .interacoes button{
    margin-left: auto;
    color: rgb(174, 189, 240);
    font-weight: bold;
    border: none;
    background-color: rgb(24, 24, 26);
    padding: 16px 32px;
    transition-duration: 0.5s;
    cursor: pointer;
    border-radius: 15%;
}

.card .interacoes button:hover{
    background-color: rgb(128, 113, 113);
    color: white;
}

.linha-tempo{
    height: 100vw;
    background-color: rgb(0, 0, 0);
}

.postagens{
    margin: auto;
    width: 100%;
    padding: 10px;
    background-color: black;
}

.cabecalho{
    margin-right: auto;
    padding: 20px;
    font-size: 20px;
    margin-block-end: auto;
    color: rgb(174, 189, 240);
}