.navegador {
    background-color: rgb(253, 233, 207);
    display: flex;
}

.navegador .link-navegador{
    text-decoration: none;
    padding: 8px;
    display: block;
    color: black;
}

.navegador .link-navegador:hover{
    background-color: rgb(214, 192, 164);
}