.navegador {
    background-color: #3a3838;
    display: flex;
    padding: 2px;
}

.navegador .link-navegador{
    transform: translate(65rem);
    text-decoration: none;
    padding: 8px;
    display: block;
    color: white;
}

.navegador .link-navegador:hover{
    background-color: #6663635d;
    border-radius: 2px;
}

.navegador a.link-navegador.active{
    background-color: #6663635d;
}