.navegador {
    background-color: rgb(0, 0, 0);
    display: flex;
    width: 700px;
    text-align: center;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.navegador .botoes{
    margin-left: auto;
    display: flex;
}

.navegador li{
    list-style: none;
}

.navegador .link-navegador{
    text-decoration: none;
    padding: 20px;
    font-size: 15px;
    display: block;
    color: rgb(72, 105, 214);
    font-weight: bold;
}


.navegador .link-linha{
    border-radius: 5%;
    text-decoration: none;
    padding: 20px;
    font-size: 15px;
    display: block;
    color: rgb(72, 105, 214);
    font-weight: bold;
    background-color: rgb(24, 24, 26);
}

.navegador .logo{
    padding: 30px;
    float: right;
    color: rgb(72, 105, 214);
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
}

.navegador .usuarioLogado{
    margin: auto;
    color: rgb(72, 105, 214);
    font-size: 15px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


